@import "assets/grid-5-col";
@import "assets/variables";

*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background: $white;
  color: $dark;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.hr {
  flex-shrink: 0;
  height: 1px;
  background: $dark;
  border: none;
}

.hr-top {
  margin: 12px 0;
}

.hr-bottom {
  margin: 15px 0;
}

.dark-bg {
  background: $dark;
  color: $white;
}

.light-bg {
  background: $light;
  color: $dark;
}

//Header
.head {
  flex-shrink: 0;
  padding-top: 24px;
  padding-bottom: 12px;
  background: #fff;
  &_item {
    min-height: 100px;
  }
  &_link {
    display: block;
    color: $white;
    text-decoration: none;
  }
  .contact {
    text-align: right;
    padding: 15px 30px;
    margin: 0;
  }
  .email {
    text-decoration: underline;
  }
}

@media screen and (max-width: 767px) {
  .head{
    &_item {
      margin-bottom: 10px;
    }
  }
}

//Content
.content {
  padding-top: 15px;
  padding-bottom: 20px;
  flex: 1 0 auto;
}

//Sidebar
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_footer {
    flex-shrink: 0;
    margin-top: 20px;
    min-height: 130px;
  }
}
@media screen and (max-width: 991px) {
  .sidebar {
    margin-bottom: 10px;
    &_footer {
      display: none;
    }
  }
}

.nav-wrap {
  position: relative;
  flex: 1 0 auto;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px;
  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &_link {
    color: $white;
    text-decoration: none;
  }
}

//Main
.main{
  height: 100%;
}
.description {
  padding: 20px;
  margin-bottom: 20px;
  ul{
    list-style-type: square;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.grid {
  &_item {
    position: relative;
    overflow: hidden;
    padding: 15px;
    min-height: 150px;
    margin-bottom: 20px;
    &::before{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &:hover::before {
      animation: circle .75s;
    }
    &:hover{
      .bag-icon{
        background-image: url('./../images/bag-hover.png');
        background-image: url('./../images/bag-hover.svg'), none;
      }
    }
    @keyframes circle {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      100% {
        width: 200%;
        height: 200%;
        opacity: 0;
      }
    }
  }
  .bag-icon{
    height: 20px;
    width: 20px;
    float: right;
    background-image: url('./../images/bag.png');
    background-image: url('./../images/bag.svg'), none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

  }
  .bag{
    fill: red;
  }
}

.text {
  &_item {
    padding: 20px;
    height: 100%;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

//Footer
.footer {
  flex-shrink: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  .left {
    list-style: none;
    margin: 0;
    padding: 15px 24px;
    height: 100%;
  }
  .center {
    padding: 15px 15px 15px 40px;
    list-style-type: square;
    margin: 0;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &_item {
      flex: 0 0 45%;
      min-height: 75px;
    }
  }
}
@media screen and (max-width: 991px) {
  .footer{
    .right {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 579px) {
  .footer{
    .center {
      margin-top: 10px;
    }
  }
}

